

<div class="mx-5 my-5 d-flex justify-content-center">
  <div class="card" >
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/programming.png" class="img-fluid rounded-start" alt="programming">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">Étudiant en génie logiciel en dernière année (bac+5), passionné par le développement et l’ingénierie logicielle, je suis à la recherche d’un stage de fin d’études (PFE) pour mettre en pratique mes compétences techniques et approfondir mes connaissances dans la conception et le développement desolutions innovantes.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>




<div class="mx-5 my-5 d-flex justify-content-center">



  <div class="accordion w-75 " id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Formation
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <table class="table table-striped">
            <tr>
              <td>sept. 2022 – Présent</td>
              <td><strong>Ecole Polytechnique d’Agadir</strong></td>
              <td>Agadir, MAROC</td>
            </tr>
            <tr>
              <td></td>
              <td>3 -ème année cycle d'ingénieurs, Génie logiciel</td>
              <td></td>
            </tr>
            <tr>
              <td>sept. 2017 – déc. 2020</td>
              <td><strong>Université de Bretagne Occidentale</strong></td>
              <td>Brest, FRANCE</td>
            </tr>
            <tr>
              <td></td>
              <td>2 -ème année Licence Informatique</td>
              <td></td>
            </tr>
            
          </table>

          
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Expériences
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <table class="table table-striped">
            <tr>
              <td>août 2024 – oct. 2024</td>
              <td><strong>STAGE DEVELOPMENT WEB, INFOSAT</strong></td>
              <td>Agadir, MAROC</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <ul>
                  <li>Développé une application de gestion de rendez-vous en utilisant lestechnologies Spring Boot et Angular.</li>
                  <li>Implémenté des fonctionnalités permettant l'inscription et la connexiondes utilisateurs, la création de rendez-vous par les utilisateurs, etl'approbation des rendez-vous par un administrateur.</li>
                </ul>
              </td>
              <td></td>
            </tr>
            <tr>
              <td>jan. 2023 – fév. 2023</td>
              <td><strong>PROJET SCOLAIRE, Ecole Polytechnique Agadir</strong></td>
              <td>Agadir, MAROC</td>
            </tr>
            <tr>
              <td></td>
              <td>                <ul>
                <li>Conçu et développé une application de location de voiture en utilisantHtml, Css, Php et MySQL</li>
                <li>Facilité la sélection et la réservation des véhicules par les clients, ainsique la gestion des véhicules et de leurs prix par les administrateurs.</li>
              </ul></td>
              <td></td>
            </tr>
            
            <tr>
              <td>jan. 2020 – mai 2020</td>
              <td><strong>STAGE ANIMATION D’ATELIER EDUCATIF, Groupe scolaire desQuatre Moulins</strong></td>
              <td>Brest, FRANCE</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <ul>
                <li>Animé des ateliers éducatifs pour les élèves de l’école primaire.</li>
                <li>Initié les élèves à la programmation informatique à travers l’utilisation dulogiciel Scratch.

                </li>
                </ul></td>
              <td></td>
            </tr>

          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Connaissances
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          <!-- list of cards -->
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" />
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">C Language</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    

                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
          
          
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Angular</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Spring Boot</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Java</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Html</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
          
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">CSS</h5>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">                                        
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" />                    
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Bootstrap</h5>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">                                        
                    
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
                            
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">MySQL</h5>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>