<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        
        <a class="nav-link" routerLink="/home"><i class="bi bi-house-fill"></i> Home</a>
        <a class="nav-link" routerLink="/projects"><i class="bi bi-lightbulb-fill"></i> Projects</a>
        <a class="nav-link" routerLink="/cv"><i class="bi bi-file-earmark-person"></i> CV</a>
        <a class="nav-link" routerLink="/contact"><i class="bi bi-envelope-fill"></i> Contact</a>

        
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

