<div class="mx-5 my-5 d-flex justify-content-center">
    <div class="card text-center">
        <div class="card-header">
        Welcome to my portfolio 
        </div>
        <div class="card-body">
            <h5 class="card-title">Hi, I'm Tachfine Rachglou 👋</h5>
            <p class="card-text">Glad to have you here! Browse through my projects to learn more about my passion for web developement</p>
            <a routerLink="/projects" class="btn btn-primary">My projects</a>
        </div>
    </div>
</div>